.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-item a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
  }
  
  .navbar-item a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  .active {
    font-weight: bold;
    border-bottom: 2px solid white;
  }
  