<nav class="navbar">
    <div class="navbar-container">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a routerLink="/event-create" routerLinkActive="active">Events</a>
        </li>
        <li class="navbar-item">
          <a href="#" (click)="openEventIdInput()">Guest</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/budget" routerLinkActive="active">Budget</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/vendors" routerLinkActive="active">Vendors</a>
        </li>
      </ul>
    </div>
  </nav>
  